body{
    background-color: rgb(104, 101, 101);
}

.wizard-section{
    width: 1005px;
    height: 200%;
    background-color: white;
    padding: 25px;
    margin: auto;
    margin-top: 45px;
    border-radius: 4px;
    font-family: 'calibri';
    box-shadow: 7px 13px 37px #000;
}

.form-register{
    width: 990px;
    height: 700%;
    background-color: white;
    padding: 40px;
    margin: auto;
    margin-top: 15px;
    border-radius: 4px;
    font-family: 'calibri';
    box-shadow: 7px 13px 37px #000;
}

h2 {
    text-align: center;
}

/*Mostrar el primer section*/
