body{
    background-color: rgb(104, 101, 101);
}

.wizard-section{
    width: 1005px;
    height: 200%;
    background-color: white;
    padding: 25px;
    margin: auto;
    margin-top: 75px;
    border-radius: 10px;
    font-family: 'calibri';
    box-shadow: 7px 13px 37px #000;
}

.form-register{
    width: 1000px;
    height: 800%;
    background-color: white;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    font-family: 'calibri';
    box-shadow: 7px 13px 37px #000;
}

h2 {
    text-align: center;
}


